.button{
    -fx-background-color: linear-gradient(from 0% 50% to 100% 50%, #6A5BFF, #AA65FF);
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color:  #AA65FF;
}
.button:hover{
    -fx-background-color: linear-gradient(from 0% 50% to 100% 50%, #AA65FF, #6A5BFF);
}

