
.table-view {
    -fx-text-fill: white;
    -fx-background-insets: 0;
}


.table-view .column-header-background {
    -fx-background-color: #2a2a2a;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 6;
}

.table-row-cell .text {
    -fx-fill: white;
}
.table-row-cell {
    -fx-border-color: #3a3a3a;
    -fx-border-width: 0.5px 0 0.5px 0;
}

.table-cell {
    -fx-text-fill: white;
    -fx-border-color: #3a3a3a;
    -fx-border-width: 1px;
    -fx-padding: 6;
}

.table-row-cell:hover {
    -fx-background-color: #333333;
}

.table-row-cell:selected {
    -fx-background-color: #444444;
}

.table-row-cell:selected .text {
    -fx-fill: white;
}

.table-view .table-cell {
    -fx-border-color: #333333;
    -fx-border-width: 1px;
    -fx-padding: 6;
}
